h1 {
    font-family: Arial, sans-serif;
    color: black; 
}
h2 {
    font-family: Arial, sans-serif;
    color: black;   
}

li {
    font-family: Arial, sans-serif;
    color: black;   
}
p {
    font-family: Arial, sans-serif;
    color: black;   
}