#form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 20rem;
    margin-right: 20rem;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    color: black;
    font-family: Arial, sans-serif;
    background-color: rgb(149, 149, 165);
    padding: 2rem;
    border: solid black 2px;
    border-radius: 5px;
}
#form_addExperience {
    display: flex;
    flex-direction: column;

}
#form_addFormation {
    display: flex;
    flex-direction: column;

}

#form_loisir {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: Arial, sans-serif;
    background-color: rgb(149, 149, 165);
    padding: 2rem;
    border: solid black 2px;
    border-radius: 5px;
    margin-top: 2rem;
}
#bottom {
    margin-top: 3em;
    margin-left: 20rem;
    margin-right: 20rem;
}